/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Nunito', 'sans-serif';
  font-size: 18px;
  background: #fff url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
}

.container {
	width: 80%;
	margin: 0 auto;
}

h1 {
	margin-top: 2em;
}
