.grid-layout {
  padding: 50px 0;
  display: grid;
  max-width: 100%;
  grid-gap: 60px;
  margin: 0 auto;
  width: 95%;
  grid-auto-rows: 300px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
